<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<context:component-scan base-package="com.netease.course.web.controller"/>
	<!--添加和webmvc相关的功能-->
	<mvc:annotation-driven /> 

	<mvc:default-servlet-handler/>
	
	<mvc:resources mapping="/css/**" location="/css/"/>
	<mvc:resources mapping="/html/**" location="/html/"/>
	<mvc:resources mapping="/js/**" location="/js/"/>
	<bean id="freemakerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/template/"/>
		<!--指定freemarker文件的编码-->
		<property name="freemarkerSettings">
			<props>
				<prop key="defaultEncoding">utf-8</prop>
				<prop key="classic_compatible">true</prop>
			</props>
		</property>
	</bean>
	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="viewResolvers">
			<list>
				<bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
					<property name="cache" value="true"/>
					<property name="prefix" value=""/>
					<property name="suffix" value=".ftl"/>
					<!--指定resolver内容结合后生成响应结果的编码-->
					<property name="contentType" value="text/html;charset=utf-8"/>
				</bean>
			</list>
		</property>
		<property name="defaultViews">
			<list>
				<bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>
			</list>
		</property>
	</bean>
</beans>
